In [2]:
import pandas as pd  
import numpy as np

In [24]:
mushroom_dataset = pd.read_csv("agaricus-lepiota.data", header = None)
mushroom_dataset[:5]

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [4]:
for i in range(23):
    print(mushroom_dataset[i].value_counts())

0
e    4208
p    3916
Name: count, dtype: int64
1
x    3656
f    3152
k     828
b     452
s      32
c       4
Name: count, dtype: int64
2
y    3244
s    2556
f    2320
g       4
Name: count, dtype: int64
3
n    2284
g    1840
e    1500
y    1072
w    1040
b     168
p     144
c      44
u      16
r      16
Name: count, dtype: int64
4
f    4748
t    3376
Name: count, dtype: int64
5
n    3528
f    2160
y     576
s     576
a     400
l     400
p     256
c     192
m      36
Name: count, dtype: int64
6
f    7914
a     210
Name: count, dtype: int64
7
c    6812
w    1312
Name: count, dtype: int64
8
b    5612
n    2512
Name: count, dtype: int64
9
b    1728
p    1492
w    1202
n    1048
g     752
h     732
u     492
k     408
e      96
y      86
o      64
r      24
Name: count, dtype: int64
10
t    4608
e    3516
Name: count, dtype: int64
11
b    3776
?    2480
e    1120
c     556
r     192
Name: count, dtype: int64
12
s    5176
k    2372
f     552
y      24
Name: count, dtype: int64
13
s    4936
k    2304
f     600
y     284
Name: count, dtype: int64
14
w    4464
p    1872
g     576
n     448
b     432
o     192
e      96
c      36
y       8
Name: count, dtype: int64
15
w    4384
p    1872
g     576
n     512
b     432
o     192
e      96
c      36
y      24
Name: count, dtype: int64
16
p    8124
Name: count, dtype: int64
17
w    7924
n      96
o      96
y       8
Name: count, dtype: int64
18
o    7488
t     600
n      36
Name: count, dtype: int64
19
p    3968
e    2776
l    1296
f      48
n      36
Name: count, dtype: int64
20
w    2388
n    1968
k    1872
h    1632
r      72
u      48
o      48
y      48
b      48
Name: count, dtype: int64
21
v    4040
y    1712
s    1248
n     400
a     384
c     340
Name: count, dtype: int64
22
d    3148
g    2148
p    1144
l     832
u     368
m     292
w     192
Name: count, dtype: int64

In [13]:
mushroom_dataset.isin(["?"]).sum(axis=0)#printed the number of missing values i.e. the '?' in each columns

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11    2480
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
dtype: int64

In [16]:
mushroom_dataset.isin(["?"]).sum(axis=1).value_counts()#prining the numbeer of missing value rows.

0    5644
1    2480
Name: count, dtype: int64

In [19]:
#dropping the column with the most missing value.

cleaned_dataset = mushroom_dataset.drop(11,axis=1)

In [ ]:
cleaned_dataset#the columns are 22 now instead of the previous 23.

     0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0     p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1     e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2     e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3     p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4     e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
8119  e  k  s  n  f  n  a  c  b  y  ...  s  o  o  p  o  o  p  b  c  l
8120  e  x  s  n  f  n  a  c  b  y  ...  s  o  o  p  n  o  p  b  v  l
8121  e  f  s  n  f  n  a  c  b  n  ...  s  o  o  p  o  o  p  b  c  l
8122  p  k  y  n  f  y  f  c  n  b  ...  k  w  w  p  w  o  e  w  v  l
8123  e  x  s  n  f  n  a  c  b  y  ...  s  o  o  p  o  o  p  o  c  l

[8124 rows x 22 columns]

In [21]:
#moving onto task/problem 2

In [23]:
google_dataset = pd.read_csv("googleplaystore.csv")
google_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [26]:
google_dataset.isnull().any()

App               False
Category          False
Rating             True
Reviews           False
Size              False
Installs          False
Type               True
Price             False
Content Rating     True
Genres            False
Last Updated      False
Current Ver        True
Android Ver        True
dtype: bool

In [30]:
for missing_values in google_dataset.columns:
    print(missing_values, google_dataset[missing_values].isnull().sum())

App 0
Category 0
Rating 1474
Reviews 0
Size 0
Installs 0
Type 1
Price 0
Content Rating 1
Genres 0
Last Updated 0
Current Ver 8
Android Ver 3

In [31]:
#dropping the column.  
cleaned_googleData = google_dataset.drop(['Rating'], axis=1)

In [32]:
cleaned_googleData.info()#column is dropped.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Reviews         10841 non-null  object
 3   Size            10841 non-null  object
 4   Installs        10841 non-null  object
 5   Type            10840 non-null  object
 6   Price           10841 non-null  object
 7   Content Rating  10840 non-null  object
 8   Genres          10841 non-null  object
 9   Last Updated    10841 non-null  object
 10  Current Ver     10833 non-null  object
 11  Android Ver     10838 non-null  object
dtypes: object(12)
memory usage: 1016.5+ KB

In [33]:
cleaned_googleData = cleaned_googleData.dropna()

In [34]:
cleaned_googleData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10829 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10829 non-null  object
 1   Category        10829 non-null  object
 2   Reviews         10829 non-null  object
 3   Size            10829 non-null  object
 4   Installs        10829 non-null  object
 5   Type            10829 non-null  object
 6   Price           10829 non-null  object
 7   Content Rating  10829 non-null  object
 8   Genres          10829 non-null  object
 9   Last Updated    10829 non-null  object
 10  Current Ver     10829 non-null  object
 11  Android Ver     10829 non-null  object
dtypes: object(12)
memory usage: 1.1+ MB

In [35]:
cleaned_googleData.isnull().any()

App               False
Category          False
Reviews           False
Size              False
Installs          False
Type              False
Price             False
Content Rating    False
Genres            False
Last Updated      False
Current Ver       False
Android Ver       False
dtype: bool

In [ ]:
#Assignment.